
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Mulish:wght@600&family=Prompt:wght@400;600;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
    box-sizing: border-box;
  vertical-align: baseline;
}

button{
  cursor: pointer;
}

html{
  width: 100%;
}

body{
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
  //width: 375px;
  //height: 5900px;
  //background-color: blue;
  background: #FFFFFF;
  min-height: 5000px;
}


.heroPage__container{
  position: relative;
  width: 100%;
  //min-height: 100vh;
  background-image: url('./images/HeroPage/BG.png');
  background-size: cover;
  background-position: center;
  height: 1156px;

  .landing__ice1{
    position: absolute;
    width: 222px;
    height: 190px;
    left: 91px;
    top: 761px;
    z-index: 20;

    background: url(./images/Landing/Ice1.png);
  }

  //div
  &__navBar{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    &__logo{
      margin-left: 6.67%;
      margin-top: 26px;
    }
    &__button{
      /* Auto Layout */

      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 24px;
      cursor: pointer;
      border: none;

      width: 210px;
      height: 46px;
      margin-right: 6.67%;
      margin-top: 44px;

      background: #FFFFFF;
      border-radius: 10px;
      &__hotline{
        width: 22px;
        height: 22px;
        //left: 24px;
        //top: 12px;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 8px;
      }
      &__text{
        position: static;
        height: 18px;
        left: 25.71%;
        right: 11.43%;
        top: calc(50% - 18px/2);

        font-family: Prompt, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: right;

        color: #3956FB;

        /* Inside Auto Layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 8px;
      }
    }
  }

  &__ice--right{
    position: absolute;
    width: 128px;
    height: 110px;
    right: 2.3%;
    top: 414px;

    background: url(./images/HeroPage/Group34/Ice_Right.png);
  }

  &__mainBox{
    display: flex;
    &__textBox{
      margin-left: 6.67%;
      margin-top: 59px;
      width: 55%;

      display: flex;
      flex-direction: column;
      &__title{
        width: 100%;
        height: 112px;

        font-family: Prompt, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 62px;
        /* or 129% */

        color: #FDFDFD;
      }
      &__content{
        width: 510px;
        height: 80px;
        margin-top: 20px;

        font-family: Prompt, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        /* or 144% */

        letter-spacing: 1px;

        color: #FFFFFF;

        opacity: 0.8;
      }
      &__bottom{
        width: 350px;
        margin-top: 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__insurance{
          &__img{
            position: absolute;
            width: 139px;
            height: 70px;
          }
        }
        &__wattage{
          &__img{
            width: 179px;
            height: 70px;
          }
        }
      }
    }
    &__imgBox{
      width: 45%;
      height: 678px;
      margin-top: 160px;
      position: relative;
      left: -80px;

      &__heroIllustration{
        position: absolute;
        width: 555px;
        height: 586px;
        z-index: 10;

        background: url('./images/HeroPage/Group34/Hero_illustration.png');
        filter: drop-shadow(0px 4px 9px rgba(24, 41, 70, 0.32));
      }
      &__iceGroup{
        position: absolute;
        width: 333px;
        height: 184px;
        right: 5%;
        top: 500px;
        z-index: 11;

        background: url('./images/HeroPage/Group34/Ice group.png');
        filter: drop-shadow(0px 4px 9px rgba(24, 41, 70, 0.32));
      }
    }
  }


  &__footer{
    position: absolute;
    margin: 0 auto;
    bottom: 24px;
    width: 100%;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;

    font-family: Prompt, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 70px;
    /* or 130% */

    text-align: center;
    letter-spacing: 1px;

    color: #043C9C;
  }
}

.iceMachine__container{
  width: 100%;
  height: 742px;
  padding-top: 70px;
  position: relative;

  background: #FFFFFF;

  display: flex;

  .landing__ice2{
    position: absolute;
    width: 142px;
    height: 123px;
    left: 80%;
    top: -70px;
    z-index: 20;

    background: url(./images/Landing/Ice2.png);
  }
  &__content--left{
    width: 60%;
    &__img{
      width: 100%;
      transform: rotate(0.24deg);
    }
  }
  &__content--right{
    width: 40%;
    padding-right: 20px;
    height: 479px;
    display: flex;
    flex-direction: column;
    &__title--top{
      font-family: Prompt, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 54px;
      line-height: 68px;

      display: flex;
      align-items: center;

      color: #043C9C;
    }
    &__content--top{
      margin-top: 16px;

      font-family: Prompt, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 25px;
      /* or 147% */

      color: #5C7392;
    }
    &__iceShape{
      margin-bottom: 25px;
      margin-top: 20px;

      font-family: Prompt, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      /* or 122% */

      display: flex;
      flex-direction: column;
      color: #043C9C;

      &__title{
        margin-top: 30px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
      }
      &__boxes{
        padding-top: 25px;
        position: relative;
        &__box{
          position: absolute;
          img{
            position: absolute;
          }
          &__leftNumber{
            top: -12px;
            left: -7px;
          }
          &__leftLine{
            top: -6px;
            left: -5px;
          }
          &__centerNumber{
            left:30px;
            top:-15px;
          }
          &__centerLine{
            top: -5px;
            left: 25px;
          }
          &__rightNumber{
            top: -4px;
            left: 68px;
          }
          &__rightLine{
            top:-5px;
            left: 60px;
          }
        }
        &__box1{

        }
        &__box2{
          left: 100px;
          .iceMachine__container__content--right__iceShape__boxes__box__centerLine{
            top: -7px;
            left: 22px;
          }
        }
        &__box3{
          left: 200px;
          .iceMachine__container__content--right__iceShape__boxes__box__leftLine{
            left: 1px;
          }
          .iceMachine__container__content--right__iceShape__boxes__box__centerLine{
            left: 21px;
          }
        }
        &__bigImg{
          margin-right: 20px;
        }

      }
    }
    &__button{
      width: 214px;

      border: none;
      padding: 16px 35px;
      background: #4762FC;
      border-radius: 10px;


      font-family: Prompt, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #FFFFFF;
    }
  }
}

.dipenser__container{
  height: 763px;
  //transform: matrix(-1, 0, 0, 1, 0, 0);
  position: relative;
  &__content{
    height: 620px;
    width: 100%;
    display: flex;
    z-index: 10;
    background: #4762FC url("./images/Dipenser/Frame 17.png");
    &__contentLeft{
      width: 50%;
      display: flex;
      justify-content: end;
      &__textBox{
        width: 508px;
        margin-top: 80px;
        &__title{
          font-family: Prompt, sans-serif;
          font-style: normal;
          padding-right: 100px;
          font-weight: bold;
          font-size: 54px;
          line-height: 68px;
          /* or 126% */

          color: #FFFFFF;
        }
        &__text{
          font-family: Prompt, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          margin-top: 20px;
          line-height: 25px;
          /* or 147% */

          color: #FFFFFF;
        }
        &__subTitle{
          font-family: Prompt,sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          /* or 122% */

          margin-top: 30px;
          display: flex;
          align-items: center;

          color: #FFFFFF;
        }
        &__subImg{
          margin-top: 20px;
        }
        &__button{
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 30px;
          font-family: Prompt,sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 48px;
          color: #3956FB;

          border: none;
          background: #FFFFFF;
          border-radius: 10px;
        }
      }
    }
    &__contentRight{
      width: 50%;
      position: relative;
      .cupImg{
        position: absolute;
        z-index:9;
        transform: scale(0.3);
        top: 370px;
        left: 380px;
      }
      &:hover .cupImg{
        -webkit-animation-timing-function:linear;
        -webkit-animation-name:orbit;
        -webkit-animation-duration:1s;
        -webkit-animation-direction: alternate;

        z-index: 11;
        top: 530px;
        left: 380px;
        transform: scale(1);
      }

      @-webkit-keyframes orbit {
        0%   {
          z-index: 9;
          transform: scale(0.3);
          top: 370px;
              left: 380px;
        }
        40%  {
          transform: scale(0.4);
          top: 400px;
              left: 425px;
        }
        75%  {
          transform: scale(0.6);
          top: 430px;
              left: 470px;
        }
        90%  {
          z-index: 11;
          transform: scale(0.8);
          top: 500px;
              left: 410px;
        }
        100% {
          transform: scale(1);
          top: 530px;
              left: 380px;
        }
      }

      //@-moz-keyframes orbit {
      //  from { -moz-transform:rotate(270deg) }
      //  to { -moz-transform:rotate(90deg) }

      .machineImg{
        position: absolute;
        top: 68px;
        z-index: 11;
      }

      .arrowImg{
        position: absolute;
        top: 450px;
        left: 535px;
        z-index: 11;
      }
    }
  }
}

.flakeIce__container{
  padding-top: 70px;
  height: 876px;
  position: relative;

  .landing__ice3{
    position: absolute;
    width: 218px;
    height: 188px;
    left: 50px;
    top: -120px;
    z-index: 20;

    background: url(./images/Landing/Ice3.png);
  }

  &__content{
    width: 100%;
    display: flex;
    &__contentLeft{
      width: 50%;
      position: relative;
      .bigImg{
        width: 100%;
        position: absolute;
        z-index: 11;
      }
      .circle{
        position: absolute;

        z-index: 9;
        transform: scale(0.3);
        top: 280px;
        left: 69.44%;
      }
      &:hover .circle{
        -webkit-animation-timing-function:linear;
        -webkit-animation-name:orbit2;
        -webkit-animation-duration:1s;

        transform: scale(1);
        z-index: 11;
        top: 440px;
        left: 76.38%;
      }
      @-webkit-keyframes orbit2{
        0%   {
          z-index: 9;
          transform: scale(0.3);
          top: 280px;
          left: 69.44%;
        }
        40%  {
          transform: scale(0.4);
          top: 300px;
          left: 76.38%;
        }
        75%  {
          transform: scale(0.6);
          top: 340px;
          left: 83.33%;
        }
        90%  {
          z-index: 11;
          transform: scale(0.8);
          top: 410px;
          left: 79.86%;
        }
        100% {
          transform: scale(1);
          top: 440px;
          left: 76.38%;
        }
      }
    }
    &__contentRight{
      width: 50%;
      padding: 40px 150px 0 100px;
      &__textBox{
        &__title{
          font-family: Prompt, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 54px;
          line-height: 68px;
          /* identical to box height, or 126% */

          display: flex;
          align-items: center;

          color: #043C9C;
        }
        &__text{
          font-family: Prompt, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 25px;
          margin-top: 20px;
          /* or 147% */

          color: #5C7392;
        }
        &__subTitle{
          font-family: Prompt, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          margin-top: 20px;
          line-height: 22px;
          /* or 122% */

          display: flex;
          align-items: center;

          color: #043C9C;
        }
        &__subImg{
          margin-top: 30px;
          img{
            margin-right: 50px;
            width: 87px;
            height: 89px;
          }
        }
        &__button{
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 30px;
          font-family: Prompt,sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 48px;
          color: #FFFFFF;

          border: none;
          background: #4762FC;
          border-radius: 10px;
        }
      }
    }
  }
}

.demoVideo__container{
  height: 626px;
  background-image: url("./images/DemoVideo/BG.png");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__overPlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #101010;
    mix-blend-mode: multiply;
    opacity: 0.6;
  }
  &__title{
    top: 130px;
    position: absolute;
    width: 920px;

    font-family: Prompt, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    /* or 128% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }
  &__playBox{
    width: 150px;
    height: 150px;
    padding-top: 50px;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__icon{
      margin-bottom: 20px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover{
        transition: all 0.3s;
        transform: scale(1.2);
      }
    }
    p{
      cursor: pointer;
      font-family: Prompt, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */

      text-align: center;

      color: #FFFFFF;
    }
  }
}

.customer__container{
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__title{
      font-family: Prompt, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 31px;
      /* or 129% */

      display: flex;
      align-items: center;

      color: #043C9C;
    }
    &__contentM{
      display: none;
    }
    &__content{
      display: flex;
      &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 297px;
        height: 88px;
      }
    }
  }
}

.feedback__container{
  margin-top: 60px;
  background: #F3FAFF;
  height: 511px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    width: 100%;
    text-align: center;
    /* identical to box height, or 130% */

    color: #043C9C;
  }
  &__content{
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__comment{
      font-family: Prompt, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 32px;
      /* or 152% */

      text-align: center;
      letter-spacing: 0.1px;

      color: #5C7392;
    }
    &__user{
      width: fit-content;
      margin-top: 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__name{
        margin-bottom: 5px;

        font-family: Prompt, sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 21px;
        line-height: 32px;
        /* identical to box height, or 152% */

        text-align: center;
        letter-spacing: 0.5px;

        color: #13284C;
      }

      &__jobInfo{
        margin-bottom: 20px;

        font-family: Prompt, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        /* identical to box height, or 175% */

        text-align: center;

        color: #95A4B7;
      }
    }
    &__pagination{
      margin-top: 20px;
      width: 95px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.footer__container{
  height: 701px;
  width: 100%;
  position: relative;
  background: rgba(71,98,252, 1) url("./images/Footer/BG.png");

  .landing__ice4{
    position: absolute;
    width: 218px;
    height: 188px;
    left: 78%;
    top: -90px;
    z-index: 20;

    background: url(./images/Landing/Ice4.png);
  }
  &__content{
    display: flex;
    &__left{
      width: 70%;
      padding-top: 60px;
      padding-left: 100px;
      padding-right: 250px;
      &__title{
        font-family: Prompt, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;

        color: #FFFFFF;
      }
      &__inputBox{
        position: relative;
        margin-top: 30px;
        height: 60px;
        background-color:rgba(255, 255, 255, 0.3);
        border-radius: 9px;
        input{
          position: absolute;
          padding-left: 25px;
          border: none;
          height: 60px;
          width: 100%;
          color: #FFFFFF;

          font-family: Prompt, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;
          /* or 144% */

          opacity: 0.6;
          background-color: unset;
          &::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #FFFFFF !important;
          }
          &:focus{
            outline: none;
          }
        }
        button{
          cursor: pointer;
          position: absolute;
          top: 3px;
          right: 3px;

          background: #FFFFFF;
          border-radius: 9px;
          width: 151px;
          height: 54px;
          border: none;

          font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 18px;
          /* or 100% */

          letter-spacing: 2px;

          color: #3956FB;
        }
      }
      &__subTitle{
        margin-top: 50px;
        //font-family: Montserrat, sans-serif;
        font-style: normal;
        line-height: 26px;
        font-size: 20px;
        font-weight: 700;
        color: #FFFFFF;

      }
      &__name{
        //font-family: Montserrat, sans-serif;
        margin-top: 20px;
        margin-bottom: 10px;
        font-style: normal;
        line-height: 26px;
        font-size: 18px;
        font-weight: 500;
        color: #FFFFFF;

      }
      &__info{
        /* or 144% */
        font-family: Prompt, sans-serif;
        line-height: 26px;
        color: #FFFFFF;
        &__item{
          margin: 25px 0;
          display: flex;
          b{
            min-width: 80px;
            margin-right: 20px;
          }
        }
      }
    }
    &__right{
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: end;
      &__box{
        &__title{
          font-family: Mulish, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 23px;
          /* identical to box height */

          text-align: center;
          letter-spacing: 1px;

          color: #FFFFFF;
        }
        &__contacts{
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  &__bottom{
    padding-top: 55px;
    padding-left: 100px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 375px){
  .landing__ice1, .landing__ice2,
  .landing__ice3, .landing__ice4{
    display: none;
  }
  .heroPage__container {
    height: 970px;
    display: flex;
    flex-direction: column;
    &__ice--right{
      top: 0;
      left: 0;
      display: none;
    }
    &__navBar {
      height: 84px;
      &__logo {
        margin-left: 4.3%;
        margin-top: 20px;
        width: 62px;
        height: 44px;
      }
      &__button {
        margin-top: 22px;
        margin-right: 4.3%;
        width: 154px;
        height: 42px;
        padding: 10px 12px;

        &__hotline {
          width: 10px;
          height: 22px;

          /* Inside Auto Layout */
          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 0 4px;
        }

        &__text {

          font-family: Prompt, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 27px;
          display: flex;
          align-items: center;
          text-align: right;

          color: #3956FB;

          /* Inside Auto Layout */

          flex: none;
          order: 1;
          flex-grow: 0;
          margin: 0 8px;
        }
      }
    }
    &__mainBox{
      flex-direction: column;
      padding: 0 10px;
      &__textBox{
        width: 100%;
        margin-left: unset;
        &__title{
          height: unset;
          font-size: 24px;
          line-height: 32px;
        }
        &__content{
          width: 100%;
          font-size: 14px;
          line-height: 21px;
          /* or 150% */

          letter-spacing: 1px;
        }
        &__bottom{
          margin-top: unset;
          width: 90%;

          &__insurance{
            &__img{
              width: 130px;
              height: 64px;
            }
          }
          &__wattage{
            &__img{
              width: 160px;
              height: 64px;
            }
          }
        }
      }
      &__imgBox{
        margin-top: 60px;
        width: 376.14px;
        height: 396px;
        left: unset;
        padding-left: 25%;
        &__heroIllustration{
          width: 250px;
          height: 330px;
          background-size: cover;
          background-position: center;
        }
        &__iceGroup{
          width: 194.5px;
          height: 107.47px;
          right: 0;
          top: 290px;

          background-size: cover;
          background-position: center;
        }
      }
    }
    &__footer{
      font-size: 23px;
      line-height: 31px;
      padding: 0 10px;
    }
  }

  .iceMachine__container{
    flex-direction: column;
    padding: 40px 10px 0 10px;
    &__content--left{
      &__img{
        width: unset;
        height: 270.74px;
      }
    }
    &__content--right{
      width: 100%;
      &__title--top{
        font-size: 24px;
        line-height: 31px;
      }
      &__content--top{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
      }
      &__iceShape{
        margin-top: 20px;
        &__title{
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
        }
        &__box{
          margin-top: 30px;
        }
      }
      &__button{
        padding: 10px 20px;
        width: 190px;
        height: 44px;

        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  .dipenser__container{
    height: 700px;
    margin-top: 180px;
    &__content{
      flex-direction: column-reverse;
      height: 600px;
      padding-bottom: 40px;
      &__contentLeft{
        width: 100%;
        padding: 0 10px;
        &__textBox{
          &__title{
            font-size: 24px;
            line-height: 31px;
          }
          &__text{
            font-size: 14px;
            line-height: 21px;
          }
          &__subTitle{
            font-size: 16px;
            line-height: 22px;
            /* or 137% */
          }
        }
      }
      &__contentRight{
        width: 100%;
        height: 110px;
        .machineImg{
          width: 240px;
          top: -140px;
          left: 63px;
        }
        .cupImg{
          display: none;
          top: 50px;
          left: 230px;
          width: 89px;
        }
      }
    }
  }

  .flakeIce__container{
    padding-top: 0;
    &__content{
      flex-direction: column;
      &__contentLeft{
        width: 100%;
        height: 350px;
        .bigImg{
          width: 343px;
        }
        .circle{
          display: none;
          top: 210px;
          left: 260px;
          width: 88.75px;
        }
      }
      &__contentRight{
        width: 100%;
        padding: 0 10px;
        &__textBox{
          &__title{
            font-size: 24px;
            line-height: 31px;
          }
          &__text{
            font-size: 14px;
            line-height: 21px;
          }
          &__subTitle{
            font-size: 16px;
            line-height: 22px;
          }
          &__subImg{

          }
          &__button{

          }
        }
      }
    }
  }

  .demoVideo__container{
    padding: 0 10px;
    &__title{
      width: unset;
      font-size: 24px;
      line-height: 31px;
    }
  }

  .customer__container{
    padding: 0 10px;
    &__box{
      &__content{
        display: none;
      }
      &__contentM{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        &__img{
          width: 50%;

          display: flex;
          justify-content: center;
          align-items: center;
          height: 88px;
        }
      }
    }
  }

  .feedback__container{
    padding: 0 10px;
    &__title{
      font-weight: 900;
      font-size: 44px;
      line-height: 44px;
    }
    &__content{
      width: unset;
      &__comment{
        font-size: 15px;
        line-height: 22px;
        &__user{
          &__name{
            font-weight: 500;
            font-size: 21px;
            line-height: 32px;
          }
          &__jobInfo{
            font-size: 16px;
            line-height: 28px;
          }
          img{
            width: 69px;
          }
        }
      }
    }
  }

  .footer__container{
    height: 830px;
    padding: 0 10px 50px 10px;
    &__content{
      flex-direction: column;
      &__left{
        width: 100%;
        padding-top: 50px;
        padding-left: unset;
        padding-right: unset;
        &__title{
          font-weight: 800;
          font-size: 16px;
          line-height: 20px;
        }
        &__inputBox{
          height: 50px;
          input{
            height: 50px;
          }
          button{
            width: 100px;
            height: 44px;
            font-size: 14px;
            line-height: 18px;
          }
        }
        &__subTitle{
          font-size: 18px;
        }
      }
      &__right{
        justify-content: start;
        margin-top: 20px;
        width: 100%;
      }
    }
    &__bottom{
      margin-top: 30px;
      padding-left: unset;
      padding-top: unset;
    }
  }
}
